@font-face {
  font-family: 'heading';
  src:url('../fonts/heading-black.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'heading';
  src:url('../fonts/heading-light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
